:root {
    --primary: #4aaaa5;
    --dark: #666;
    --regular: #777;
    --ground1: #fff;
    --board1: #ccc;
    --board2: #ddd;
    --other: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    html {
        font-family: 'Georgia', Times, Times New Roman, serif;
        box-sizing: border-box;
        background-image: url(../images/vintage-concrete.png);
    }

    body {
        
        position: relative;
            }

    body h1 {
        font-size: 2em;
    }

    .wrapper {
        position: relative;
        width: 100%;
        background-color: var(--ground1);
        padding: 0;
    }

    .top {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;    
        position: relative;
        width: 960px;
    }

    .top h1 {
        position: relative;
        height: 40px;
        width: 220px;
        padding: 20px 10px; 
        background-color: var(--primary);
        color: var(--ground1);
        left: 0;
        text-justify: left;
        margin: 0;
        display: block;
        /* width: auto; */
    }
    
    .top ul {
        /* text-decoration-style: none; */
        list-style: none;
        display: block;
        padding: 0;
        margin: 0 auto;
        position: absolute;
        right: 10%;
        top: 40%;
    
    }

    .top ul li {
        text-decoration-style: none; 
        display: inline-block;
        font-size: 1.2rem;
        padding: 10px 20px;
        transition: transform 2s;
        
        }

    .top ul li a {
        display: inline-block;
        text-decoration: none;
        color: var(--primary);
      
    }

    .top li a:hover {
        background-color: var(--primary);
        color: var(--ground1);
        transform: scale(1.2, 1.2);
    }

    .container {
        width: 960px;
        position: relative;
        margin: 0 auto;
        display: block;
        background-color: var(--ground1);
        box-sizing: border-box;
        top: 10px;
        padding: 15px;    
    }
    
    .container h1 {
        color: var(--primary);
        position: relative;
        top: 0;
        left: 0;
    }

    .container header {
        width: 100%;
        border-bottom: 3px solid var(--primary);
    }

    .container img {
        
        position: relative;
        left: 0;
        top: 10px;
    }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 5px;
        background-color: var(--primary); 
    }

    .deck {
        display: block;       
    }

    .row {
        display: flex;
        justify-content: space-evenly;
    }

    .card {
        
        width: 200px;
        box-sizing: border-box;
        display: block;
        margin: 20px;
    }

    .card img {
        width: 100%;
        transition: width 2s;
    }

    .card a {
        position: relative;
    }

    .card h3 {
    
        height: 30px;
        width: 100%;
        background-color: var(--primary);
        position: absolute;
        bottom: 20px;
        left: 0px;
        text-decoration: none;
        font-family: 'Georgia', Times, Times New Roman, serif;
        text-align: center;
        color: var(--ground1);
        font-size: 1.4rem;
        z-index: 2;
        padding: 20px 0px;
        margin: 0 auto;
    }

    .card a img:hover {
        
        transform: scale(1.2 1.2);
    }

    form {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 20px;
        font-size: 1.5rem;
        color: var(--regular);
    }

    form input {
        width: 90%;
        height: 1.5em;
        padding: 10px;
        margin: 10px;
    }
    form input[type=text] {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
 
    #text-box {
        height: 300px;
    }

    input[type=button], input[type=submit], input[type=reset] {
        height: 40px;
        width: 100px;
        font-size: 1.2rem;
        background-color: var(--primary);
        color: var(--ground1);
    }

    input[type=button]:hover {
        background-color: var(--ground1);
        color: var(--primary);
    }

    @media screen and (max-width: 980px) {
        body {
            width: 100%;
        }   

        .top {
            width: 100%;
            background-color: var(--ground1);
        }
        .container {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {

        body {
            width: 100%;
            justify-content: center;
            margin: 0 auto;
        }
        .container {
            width: 100%;
        }

        .top {
            width:100%;
        }

        .row {
            flex-wrap: wrap;
        }

    @media screen and (max-width: 640px) {
        .top {
            width: 100%;
            background-color: var(--ground1);
        }

        body {
            width: 100%;
            justify-content: center;
            margin: 0 auto;
        }

        .container {
            margin: 0 auto;
            width: 100%
        } 

        .deck {
            display: block;
            padding: 0 auto;
        }

        .row {
            flex-direction: column;
        }

        .card {
            display: block;
            margin: 0 auto;
        }

        .top h1 {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        .top ul {
            height: 40px;
            width: 100%;
            position: static;
            margin: 0 auto;
            background-color: var(--ground1);
            display: inline-block;
            text-align: center;
            top: 10px;
        }

        .top li {
            margin: 0 auto;
        }
    }

    }